{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daria's Dinner Collections</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% block content %}
    {% endblock %}

    <hr>

    <div class="nav">
        <a href = "{% url 'home' %}">Home</a>
        <a href = "{% url 'add_video' %}">Add a new video</a>
        <a href = "{% url 'video_list' %}">Your library</a>
    </div>
</body>
</html>